@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*{
  margin:0px;
  padding:0px;
  font-family: 'Yellowtail', cursive;
}

body{
  background: url("bg.png") no-repeat;
  background-size: cover;
  background: fixed;
}


.navbar{
  width: 100%;
  display: flex;
  align-items: 0px auto 0px auto;
  justify-content: space-between;
}


.navbar li{
  list-style: none;
  transition: transform .2s;
}

.navbar li:hover{
  transform: scale(1.2);
  }

header{
  height: 60px;
  width: 100%;
  background-color: grey;
  opacity: 0.75;
  background-position: center;
  position: fixed;
  z-index: 4;
}

.navbar input[type=text] {

  width: 300px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
  outline: none;
  height: 40px;
}

nav a{
  list-style: none;
  margin:0 10px;
  color: brown;
  font-size: 30px;
  text-decoration: none;
}

nav a:hover{
  color: black;
}


.navbar button {
  width: 70px;
  height: 45px;
  margin-top: 6px;
  margin-left: 90px;
  margin-right: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
  border-radius: 16px;
  transition: transform .2s;
}

.navbar button:hover {
  background: #0b7dda;
  transform: scale(1.2);
}

.pagetxt
{ 
  color: wheat;
  margin-top: 100px;
  margin-left: 700px;
  margin-right: auto;
  display: inline-block; 
  font-size: 40px;
  height: 100%;

}

.pagetxt img{
  width: 30%;
  height: 20%;
  position: sticky;
  top:20px;
}

#logo{
  transition: transform .2s;
  overflow: hidden;
}

#logo:hover{
  transform: scale(3) translate(12px,12px);
}

@keyframes tech {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

.techs{
  animation-name: tech;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

#technologies
{
  padding: 10%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}

#technologies li
{
  list-style: none;
}


